@import "include-media";
.GlobalContactForm {
  form {
    .inputContainer {
      margin-block: 10px;
      &.inputNone {
        display: none !important;
      }
      &.PhninputContainer {
        display: flex;
        :global(.PhoneInputInput) {
          border: none;
          outline: none;
          color: #6a6e76;
        }
      }
      .inputLabel {
        position: relative;
        top: 2px;
        font-family: Barlow;
        background: #1a1413;
        color: #fff;
        padding: 12px 20px;
        width: 70px;
        display: inline-block;
        @include media("<tablet") {
          width: 55px;
          padding: 12px 20px;
        }
        &.textareaLabel {
          position: relative;
          top: -115px;
        }
      }
      .input {
        font-family: Barlow;
        width: 400px;
        height: 43px;
        padding: 0 15px;
        border: none;
        background: #fff;
        outline: none;
        &.fullWidthInput {
          width: calc(100% - 30px) !important;
        }
        @include media("<tablet") {
          width: 210px;
        }
        @media only screen and (max-width: 374px) {
          width: 161px;
        }
      }
      .inputSelect {
        width: 430px !important;
        color: #6a6e76;
        &.fullWidthInput {
          width: 100% !important;
        }
        @include media("<tablet") {
          width: 240px;
        }
        @media only screen and (max-width: 374px) {
          width: 191px;
        }
      }
      .textarea {
        font-family: Barlow;
        width: 400px;
        padding: 8px 15px;
        border: none;
        background: #fff;
        outline: none;
        &.fullWidthInput {
          width: calc(100% - 30px) !important;
        }
        @include media("<tablet") {
          width: 210px;
        }
        @media only screen and (max-width: 374px) {
          width: 161px;
        }
      }
    }
    button {
      font-family: Barlow;
      font-weight: 500;
      font-size: 16px;
      background: #1a1413;
      border: none;
      color: #fec707;
      padding: 12px 30px;
      float: right;
      cursor: pointer;
    }
    &.border {
      .inputContainer {
        .inputLabel {
          &.textareaLabel {
            position: relative;
            top: -118px;
          }
        }
        .input {
          width: 400px;
          height: 43px;
          padding: 0 15px;
          border: 1px solid #f1f1f1;
          @include media("<tablet") {
            width: 188px;
          }
          @media only screen and (max-width: 374px) {
            width: 141px;
          }
        }
        .textarea {
          padding: 8px 15px;
          border: 1px solid #f1f1f1;
          @include media("<tablet") {
            width: 188px;
          }
          @media only screen and (max-width: 374px) {
            width: 141px;
          }
        }
      }
    }
  }
}
