@import "include-media";
.TrustedPartner {
  display: flex;
  @include media("<tablet") {
    flex-direction: column;
  }
  .Image {
    width: 50%;
    @include media("<tablet") {
      width: 100%;
    }
  }
  .ContentContainer {
    width: 50%;
    background: #000;
    @include media("<tablet") {
      width: 100%;
    }
    .Content {
      padding: 8% 8% 0;
      color: #fff;
      h2 {
        font-family: Barlow;
        font-style: italic;
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 20px;
        @include media("<tablet") {
          font-size: 28px;
        }
      }
      p {
        font-family: Barlow;
        font-size: 16px;
      }
    }
    .seeBtn {
      font-family: Barlow;
      text-decoration: none;
      display: inline-block;
      margin-top: 15px;
      margin-left: 20%;
      background: #fff;
      color: #e61d48;
      font-weight: 500;
      text-transform: uppercase;
      padding: 10px 25px;
      border-color: transparent;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      @include media("<tablet") {
        margin-left: 8%;
        margin-block: 15px 40px;
      }
    }
  }
}
