.headerContainer {
  position: relative;
  display: flex;
  width: 84%;
  margin: 0 auto;
  height: 100px;
  align-items: center;
  z-index: 2;
  .logo {
    width: 30%;
  }
  .mobNav {
    width: 70%;
    .navButton {
      width: 10%;
      float: right;
      margin-right: 20px;
      background: transparent;
      border: none;
      cursor: pointer;
      color: transparent;
      svg {
        fill: #000;
        width: 40px;
      }
    }
    .mobNavContainer {
      position: fixed;
      background: #fff;
      height: 100vh;
      width: 100vw;
      left: -100vw;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: all 1s ease;
      &.active {
        opacity: 1;
        left: 0;
      }
      .logo {
        position: absolute;
        top: 28px;
        left: 30px;
      }
      .crossBtn {
        background: transparent;
        border: none;
        position: absolute;
        top: 30px;
        right: 20px;
        font-size: 25px;
        &:hover {
          right: 30px;
        }
      }
      ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        li {
          padding-block: 10px;
          a {
            font-family: Barlow;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            color: #000;
          }
        }
      }
    }
  }
  .navbar {
    width: 70%;
    display: flex;
    ul {
      font-family: Barlow;
      font-weight: 500;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      width: 90%;
      li {
        padding-inline: 8px;
        a {
          text-decoration: none;
          color: #000;
          text-transform: uppercase;
        }
      }
    }
    &.homeNav {
      ul {
        li {
          a {
            color: #fff;
          }
        }
      }
      .navButton {
        svg {
          fill: #fff;
        }
      }
    }
    .navButton {
      width: 10%;
      background: transparent;
      border: none;
      cursor: pointer;
      color: transparent;
      svg {
        fill: #000;
        width: 40px;
      }
    }
  }
}
