.headerContainer {
  position: relative;
  display: flex;
  width: 84%;
  margin: 0 auto;
  height: 100px;
  align-items: center;
  z-index: 2;
  .logo {
    width: 30%;
  }
  .mobNav {
    width: 70%;
    .navButton {
      width: 10%;
      float: right;
      margin-right: 20px;
      background: transparent;
      border: none;
      cursor: pointer;
      color: transparent;
      svg {
        fill: #000;
        width: 40px;
      }
    }
    .mobNavContainer {
      position: fixed;
      background: #fff;
      height: 100vh;
      width: 100vw;
      left: -100vw;
      top: 0;
      display: none;
      align-items: center;
      justify-content: center;
      &.active {
        display: flex;
        left: 0;
        animation: fadeInTop 0.4s ease;
      }
      .logo {
        position: absolute;
        top: 28px;
        left: 30px;
      }
      .crossBtn {
        background: transparent;
        border: none;
        position: absolute;
        top: 30px;
        right: 20px;
        font-size: 25px;
      }
      ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        li {
          padding-block: 10px;
          a {
            font-family: Barlow;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            color: #000;
          }
        }
      }
    }
  }
  .navbar {
    width: 70%;
    display: flex;
    .menuMain {
      position: relative;
      font-family: Barlow;
      font-weight: 500;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      width: 90%;
      padding: 0;
      li {
        padding-inline: 16px;
        padding-block: 16px;
        a {
          position: relative;
          text-decoration: none;
          color: #000;
          text-transform: uppercase;
        }
        &.dropMenu {
          position: relative;
          ul {
            position: absolute;
            background: #fff;
            color: #000;
            display: none;
            min-width: 175px;
            list-style: none;
            padding: 0;
            top: 100%;
            li {
              a {
                color: #000;
                padding-block: 10px;
              }
            }
          }
          &:hover {
            > .dropdown {
              display: block;
              animation: fadeInDown 0.4s ease;
              -webkit-animation: fadeInDown 0.4s ease;
            }
          }
        }
      }
    }
    &.homeNav {
      ul {
        li {
          a {
            color: #fff;
          }
        }
      }
      .navButton {
        svg {
          fill: #fff;
        }
      }
    }
    .navButton {
      width: 10%;
      background: transparent;
      border: none;
      cursor: pointer;
      color: transparent;
      svg {
        fill: #000;
        width: 40px;
      }
    }
  }
}
.ServiceMenu {
  position: fixed;
  display: none;
  text-align: center;
  height: 100vh;
  background: #fff;
  width: 300px;
  padding: 50px 20px;
  top: 0;
  right: 0;
  z-index: 999999;
  &.active {
    display: block;
    animation: fadeInRight 0.4s ease;
  }
  textarea {
    height: 90px !important;
  }
  h3 {
    font-family: Barlow;
    font-size: 24px;
    margin-block-end: 25px;
  }
  .crossBtn {
    cursor: pointer;
    background: transparent;
    border: none;
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 25px;
  }
  .contact {
    margin-top: 70px;
    text-align: left;
    p {
      font-family: Barlow;
      color: #000;
      padding: 0;
      margin: 0;
      line-height: 1.5;
      a {
        color: #000;
      }
    }
  }
  .socialIcons {
    padding-block: 20px;
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 100px;
    .Icons {
      width: 30px;
      height: 30px;
      background: #000;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-inline-end: 10px;
      .sclIcons {
        width: 15px;
        height: 15px;
        color: #fff;
      }
    }
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
