@import "include-media";
.BgSliderWrapper {
  .BgSlider {
    position: relative;
    height: 100vh;
    display: flex;
    @include media("<tablet") {
      height: 350px;
    }
    .content {
      width: 74%;
      color: #ffffff;
      position: absolute;
      left: 13%;
      top: 50%;
      @include media("<tablet") {
        margin-top: 0;
        width: 84%;
        left: 8%;
        top: 25%;
      }
      h2 {
        font-family: Playfair Display;
        font-style: italic;
        font-size: 48px;
        margin-bottom: 15px;
        width: 60%;
        @include media("<tablet") {
          font-size: 28px;
          width: 100%;
        }
      }
      p {
        width: 70%;
        @include media("<tablet") {
          width: 100%;
        }
      }
      .seeBtn {
        font-family: Barlow;
        text-decoration: none;
        display: inline-block;
        margin-top: 15px;
        background: #fff;
        color: #e61d48;
        font-weight: 500;
        text-transform: uppercase;
        padding: 10px 25px;
        border-color: transparent;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-block-end: 40px;
        @include media("<tablet") {
          margin-left: 0%;
          margin-block: 15px 40px;
        }
      }
    }
  }
  :global(.react-multiple-carousel__arrow) {
    background: transparent;
  }
  :global(.react-multi-carousel-list) {
    align-items: unset;
    position: relative;
    button {
      top: 52%;
    }
  }
  :global(.react-multiple-carousel__arrow::before) {
    color: #fff;
  }
  @include media(">tablet") {
    :global(.react-multiple-carousel__arrow--left::before) {
      content: url(/images/slider-arrow-left.svg);
    }
    :global(.react-multiple-carousel__arrow--right::before) {
      content: url(/images/slider-arrow-right.svg);
    }
  }
  :global(.react-multi-carousel-dot-list) {
    bottom: 50px;
    justify-content: flex-start;
    width: 74%;
    margin-inline: auto;
    button {
      height: 2px;
      width: 28px;
      border-radius: 0;
      border: none;
      background: rgba(255, 255, 255, 0.4);
    }
  }
  :global(.react-multi-carousel-dot--active) {
    button {
      background: #e61d48;
    }
  }
  @include media("<tablet") {
    :global(.react-multi-carousel-dot-list) {
      bottom: 20px;
      width: 84%;
    }
    :global(.react-multi-carousel-list) {
      :global(.react-multiple-carousel__arrow--left) {
        left: unset;
        right: calc(4% + 15px);
      }
      :global(.react-multiple-carousel__arrow--right) {
        right: 0;
      }
      :global(.react-multiple-carousel__arrow) {
        top: 10px;
      }
    }
  }
}
