@import "include-media";
.FaqAccordion {
  width: 84%;
  margin-inline: auto;
  margin-block: 60px 100px;
  @include media("<tablet") {
    margin-block: 60px;
  }
  h2 {
    font-family: Barlow;
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 25px;
    @include media("<tablet") {
      font-size: 28px;
      margin-bottom: 0;
    }
  }
  .btnContainer {
    padding-block-start: 30px;
    .btn {
      display: inline-block;
      text-decoration: none;
      background: #000;
      color: #fec707;
      font-family: Barlow;
      font-weight: 600;
      padding: 12px 36px;
      margin-top: 20px;
    }
  }
  .strategyaccordionitem {
    padding: 15px 0;
    border-bottom: 1px solid #000;
    .accordionHeading {
      color: #000000;
      font-family: Barlow;
      font-weight: 400;
      font-size: 24px;
      @include media("<tablet") {
        font-size: 19px;
      }
      .accordionButton {
        background: transparent;
        padding-left: 0;
        cursor: pointer;
        position: relative;
        @include media("<tablet") {
          background: transparent;
          padding-left: 0;
          display: flex;
          align-items: center;
          padding: 10px 0;
          line-height: 1.3;
        }
        &:focus {
          outline: none;
        }
        &::before {
          content: url(/images/AccordionPlusIcon.svg);
          display: inline-block !important;
          border: none;
          transform: none;
          top: 5px;
          width: 25px;
          position: absolute;
          right: 0;
          @include media("<tablet") {
            top: 3px;
          }
        }
        &[aria-expanded="true"]::before,
        &[aria-selected="true"]::before {
          content: url(/images/AccordionMinusIcon.svg);
        }
      }
    }
    .panel {
      .accordionAnswer {
        font-family: Barlow;
        font-size: 16px;
        margin: 15px 30px 15px 0;
        color: #000000;
        @include media("<tablet") {
          margin: 15px 30px 15px 0px;
        }
      }
    }
  }
}
