@import "include-media";
.clients {
  background: #fff;
  width: 84%;
  margin: 50px auto;
  h2 {
    font-family: Barlow;
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    @include media("<tablet") {
      font-size: 28px;
    }
  }
  .client {
    display: flex;
    flex-wrap: wrap;
    .logo {
      width: 25%;
      padding-block: 25px;
      @include media("<tablet") {
        width: 30%;
        padding-inline: 1.5%;
      }
      .image {
        margin: auto;
      }
    }
  }
}
