@import "include-media";
.heroBg{
  background: #e61348;
  background: -moz-linear-gradient(-45deg, #e61348 0%, #e0a810 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #e61348), color-stop(100%, #e0a810));
  background: -webkit-linear-gradient(-45deg, #e61348 0%, #e0a810 100%);
  background: -o-linear-gradient(-45deg, #e61348 0%, #e0a810 100%);
  background: -ms-linear-gradient(-45deg, #e61348 0%, #e0a810 100%);
  background: linear-gradient(135deg, #e61348 0%, #e0a810 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61348', endColorstr='#e0a810', GradientType=1 );
}
.HeroBottom {
  display: flex;
  width: 84%;
  margin: 0 auto;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  @include media("<tablet") {
    flex-direction: column;
    height: unset;
    padding-block: 30px;
  }
  .bannerTitle{
    flex: 0 0 33.33%;
    font-style: italic;
    p{
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      margin:0;
    }
  }
  .startButton{
      text-align: right;
      margin: 0;
      a{
          background: #fff;
          color: #E61348;
          display: inline-block;
          font-weight: 500;
          padding: 12px 50px 14px;
          font-style: italic;
          border-top-left-radius: 20px;
          border-bottom-right-radius: 20px;
      }
  }
  .socialLinks, .left {
    width: 33.333333%;
    @include media("<tablet") {
      width: 100%;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      @include media("<tablet") {
        justify-content: center;
      }
      li {
        margin-right: 20px;
        a {
          font-family: Barlow;
          text-decoration: none;
          color: #fff;
          font-style: italic;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
  .middle {
    width: 33.333333%;
    @include media("<tablet") {
      width: 100%;
      margin-top: 30px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      li {
        text-transform: uppercase;
        font-family: Barlow;
        margin-right: 25px;
        max-width: 95px;
        a {
          text-transform: uppercase;
          font-family: Barlow;
          text-decoration: none;
          color: #000;
          font-size: 16px;
        }
      }
    }
  }
  .right {
    width: 33.333333%;
    text-align: right;
    @include media("<tablet") {
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    .searchBtn {
      background: transparent;
      border: none;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 400;
      font-family: Barlow;
      .faSearch {
        margin-left: 20px;
      }
    }
  }
}
