@import "include-media";
.heroBg{
  background: #fff;
}
.HeroBottom {
  display: flex;
  width: 84%;
  margin: 0 auto;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  @include media("<tablet") {
    flex-direction: column;
    height: unset;
    padding-block: 0 40px;
  }
  .bannerTitle{
    flex: 0 0 33.33%;
    font-style: italic;
    p{
      color: #0C050D;
      font-size: 20px;
      font-weight: 500;
      margin:0;
    }
  }
  .startButton{
      text-align: right;
      margin: 0;
      a{
          color: #0C050D;
          display: inline-block;
          font-weight: 500;
          font-size: 20px;
          font-style: italic;
      }
      @include media("<tablet") {
        text-align: center;
      }
  }
  .socialLinks, .left {
    width: 33.333333%;
    @include media("<tablet") {
      width: 100%;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      @include media("<tablet") {
        justify-content: center;
        margin-block: 15px;
      }
      li {
        margin-right: 20px;
        a {
          font-family: Barlow;
          text-decoration: none;
          color: #0C050D;
          font-style: italic;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
  .middle {
    width: 33.333333%;
    @include media("<tablet") {
      width: 100%;
      margin-top: 0px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      li {
        text-transform: uppercase;
        font-family: Barlow;
        margin-right: 25px;
        max-width: 95px;
        a {
          text-transform: uppercase;
          font-family: Barlow;
          text-decoration: none;
          color: #000;
          font-size: 16px;
        }
      }
    }
  }
  .right {
    width: 33.333333%;
    text-align: right;
    @include media("<tablet") {
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    .searchBtn {
      background: transparent;
      border: none;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 400;
      font-family: Barlow;
      .faSearch {
        margin-left: 20px;
      }
    }
  }
}
