@import "include-media";
.services {
  display: flex;
  @include media("<tablet") {
    flex-direction: column;
  }
  .service {
    position: relative;
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 356px;
    @include media("<tablet") {
      width: 100%;
    }
    &:nth-child(1) {
      background: #111111;
    }
    &:nth-child(2) {
      background: #E61348;
    }
    &:nth-child(3) {
      background: #FDC717;
    }
    .content {
      text-align: center;
      h2 {
        font-family: "Playfair Display";
        font-style: italic;
        font-weight: 600;
        font-size: 38px;
        color: #fff;
        margin-bottom: 10px;
      }
      p {
        font-family: Barlow;
        font-style: italic;
        color: #fff;
        font-size: 18px;
      }
    }
    .btnContainer {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 20px;
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        width: 50px;
        height: 50px;
        .faChevronRight {
          color: #000;
          font-size: 20px;
        }
      }
    }
  }
}
