@import "include-media";
.section {
  background: #000;
  .container {
    width: 84%;
    margin-inline: auto;
    padding-block: 60px;
    .top {
      .content {
        color: #fff;
        position: relative;
        h2 {
          font-family: Playfair Display;
          font-style: italic;
          font-size: 38px;
          font-weight: 400;
          margin-bottom: 15px;
        }
        p {
          width: 60%;
        }
      }
    }
    .bottom {
      padding-block: 30px 0;
      .tab {
        display: flex;
        .tabs {
          width: 25%;
          ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
              border-bottom: 1px solid #e61d48;
              &:last-child {
                border: none;
              }
              &.active {
                background: #e61d48;
              }
              button {
                cursor: pointer;
                background: transparent;
                color: #fff;
                border: none;
                padding-block: 15px;
                padding-inline: 15px;
                text-align: left;
                display: block;
                width: 100%;
                font-family: Barlow;
                font-size: 18px;
              }
            }
          }
        }
        .contentContainer {
          width: 75%;
          color: #fff;
          display: flex;
          align-items: flex-start;
          padding-inline-start: 30px;
          .content {
            width: 60%;
            background: #444;
            padding: 40px 30px;
            margin-right: -50px;
            overflow-y: visible;
            z-index: 1;
            h3 {
              font-family: Barlow;
              font-weight: 400;
              font-size: 28px;
              margin-bottom: 15px;
            }
            p {
              padding: 0;
              margin: 0;
            }
            .btn {
              display: inline-block;
              text-decoration: none;
              background: #000;
              color: #fff;
              font-family: Barlow;
              font-weight: 600;
              padding: 12px 36px;
              margin-top: 20px;
            }
          }
          .imageContainer {
            width: 60%;
            .sliderImg {
              width: 100%;
              height: 457px;
              margin-top: -155px;
              z-index: 0;
            }
          }
        }
      }
    }
  }
}
