@import "include-media";
.section {
  background: #000;
  .container {
    width: 84%;
    margin-inline: auto;
    padding-block: 60px;
    .top {
      .content {
        color: #fff;
        position: relative;
        h2 {
          font-family: Playfair Display;
          font-style: italic;
          font-size: 38px;
          font-weight: 400;
          margin-bottom: 15px;
          @include media("<tablet") {
            font-size: 28px;
          }
        }
        p {
          width: 60%;
          @include media("<tablet") {
            width: 100%;
          }
        }
      }
    }
    .bottom {
      padding-block: 30px 0;
      @include media("<tablet") {
        padding: 0;
      }
      .tab {
        display: flex;
        @include media("<tablet") {
          display: block;
        }
        .sliderNav {
          display: flex;
          align-items: flex-start;
          justify-content: flex-end;
          @include media(">tablet") {
            display: none;
          }
          button {
            background: none;
            color: #fff;
            outline: none;
            border: 0;
            font-size: 24px;
            margin: 10px 0 20px 25px;
            cursor: pointer;
          }
        }
        .tabs {
          width: 25%;
          @include media("<tablet") {
            display: none;
          }
          ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
              border-bottom: 1px solid #e61d48;
              &:last-child {
                border: none;
              }
              &.active {
                background: #e61d48;
              }
              button {
                cursor: pointer;
                background: transparent;
                color: #fff;
                border: none;
                padding-block: 15px;
                padding-inline: 15px;
                text-align: left;
                display: block;
                width: 100%;
                font-family: Barlow;
                font-size: 18px;
              }
            }
          }
        }
        .contentContainer {
          width: 75%;
          color: #fff;
          display: flex;
          align-items: flex-start;
          padding-inline-start: 30px;
          @include media("<tablet") {
            width: 100%;
            padding: 0;
            flex-direction: column-reverse;
          }
          .content {
            width: 60%;
            background: #444;
            padding: 40px 30px;
            margin-right: -50px;
            overflow-y: visible;
            z-index: 1;
            @include media("<tablet") {
              width: 90%;
              margin-right: 0;
              margin-top: 20px;
              padding: 5%;
            }
            h3 {
              font-family: Barlow;
              font-weight: 400;
              font-size: 28px;
              margin-bottom: 15px;
            }
            p {
              padding: 0;
              margin: 0;
            }
            .btn {
              display: inline-block;
              text-decoration: none;
              background: #000;
              color: #fff;
              font-family: Barlow;
              font-weight: 600;
              padding: 12px 36px;
              margin-top: 20px;
            }
          }
          .imageContainer {
            width: 60%;
            @include media("<tablet") {
              width: 100%;
            }
            .sliderImg {
              width: 100%;
              height: 457px;
              margin-top: -155px;
              z-index: 0;
              @include media("<tablet") {
                margin-top: 0;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
