h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  margin: 0 0 15px;
}
a {
  text-decoration: none;
}
.btn {
  font-style: italic;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.btnBlack,
.btnWhite,
.btnYellow {
  transition: all ease 0.3s;
}
.btnBlack:hover {
  background: #3e2c41 !important;
}
.btnWhite:hover {
  background: #c8c6c6 !important;
}
.btnYellow:hover {
  background: #ffb344 !important;
}
