@import "include-media";
.future {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  overflow: hidden;
  background: #e61348;
  background: -moz-linear-gradient(-45deg, #e61348 0%, #e0a810 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #e61348), color-stop(100%, #e0a810));
  background: -webkit-linear-gradient(-45deg, #e61348 0%, #e0a810 100%);
  background: -o-linear-gradient(-45deg, #e61348 0%, #e0a810 100%);
  background: -ms-linear-gradient(-45deg, #e61348 0%, #e0a810 100%);
  background: linear-gradient(135deg, #e61348 0%, #e0a810 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61348', endColorstr='#e0a810', GradientType=1 );
h2 {
    font-family: Playfair Display;
    color: #fff;
    font-style: italic;
    font-size: 24em;
    margin: 0;
    @include media("<tablet") {
      font-size: 100px;
      padding-top: 25px;
      padding-left: 15px;
    }
  }
  .isGrowth {
    position: absolute;
    color: #fff;
    font-family: Barlow;
    font-weight: 200;
    font-style: italic;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0px;
    bottom: 200px;
    left: 43%;
    @include media("<tablet") {
      font-size: 24px;
      bottom: 140px;
      left: 30%;
    }
  }
  .fearLess {
    position: relative;
    width: 260px;
    color: #fff;
    font-family: Barlow;
    font-weight: 200;
    font-style: italic;
    font-size: 45px;
    text-transform: uppercase;
    margin: 0px;
    left: 70%;
    @include media("<tablet") {
      width: 200px;
      font-size: 30px;
      left: 45%;
      top: 25px;
    }
  }
}
