@import "include-media";
.future {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 0 90px;
  overflow: hidden;
  background: #0C050D;
  h2 {
    font-family: Playfair Display;
    color: #fff;
    font-style: italic;
    font-size: 24em;
    margin: 0;
    @include media("<tablet") {
      font-size: 98px;
      padding-left: 10px;
    }
  }
  .isGrowth {
    position: absolute;
    color: #656466;
    font-family: Barlow;
    font-weight: 200;
    font-style: italic;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0px;
    bottom: 200px;
    left: 43%;
    @include media("<tablet") {
      font-size: 30px;
      top: 10px;
      position: relative;
      left: 30%;
    }
  }
  .fearLess {
    position: relative;
    width: 260px;
    color: #656466;
    font-family: Barlow;
    font-weight: 200;
    font-style: italic;
    font-size: 45px;
    text-transform: uppercase;
    margin: 0px;
    left: 70%;
    @include media("<tablet") {
      width: 200px;
      font-size: 30px;
      left: 45%;
      top: 25px;
    }
  }
}
