@import "include-media";
.GrowthHero {
  background: #000;
  height: calc(100vh - 95px);
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media("<tablet") {
    height: unset;
    padding-block: 30px;
  }
  h1 {
    font-family: Playfair Display;
    color: #fff;
    font-style: italic;
    //font-size: 25.5em;
    @include media("<tablet") {
      font-size: 4em;
    }
  }
  .herobottom {
    display: flex;
    justify-content: stretch;
    @include media("<tablet") {
      margin-top: 0;
      justify-content: center;
      flex-direction: column;
    }
    .left {
      width: 45%;
      text-align: right;
      padding-right: 20px;
      @include media("<tablet") {
        width: 100%;
        text-align: center;
      }
      h2 {
        color: #666264;
        font-family: Barlow;
        font-weight: 200;
        font-style: italic;
        font-size: 4.5em;
        text-transform: uppercase;
        @include media("<tablet") {
          font-size: 1.5em;
        }
      }
    }
    .right {
      width: 30%;
      padding-left: 20px;
      padding-top: 20px;
      text-align: left;
      @include media("<tablet") {
        width: 95%;
        padding-left: 5%;
      }
      p {
        font-family: Barlow;
        color: #fff;
      }
    }
  }
}
