.heroContainer {
  position: relative;
  display: flex;
  height: 100vh;
  margin-top: -100px;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  .leftContent {
    width: 8%;
    .ChargeArrow {
      p {
        font-family: Barlow;
        font-weight: 600;
        position: absolute;
        bottom: 120px;
        left: -20px;
        transform: rotate(90deg);
      }
      .ChargeArrowDown {
        margin-left: 10px;
        transform: rotate(-90deg);
      }
    }
  }
  .middleContent {
    width: 22%;
    padding-inline-end: 10%;
    h1 {
      font-family: Barlow;
      font-style: italic;
      font-weight: 500;
      font-size: 80px;
      margin-block: 15px;
    }
    p {
      font-family: Barlow;
      font-weight: 500;
      font-size: 18px;
      margin-block: 10px;
    }
    .HeroBtn {
      display: inline-block;
      text-decoration: none;
      background: #000;
      color: #fec707;
      font-family: Barlow;
      font-weight: 600;
      padding: 12px 36px;
      margin-top: 20px;
    }
  }
  .rightContent {
    width: 62%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    .marqueeContainer {
      position: relative;
      overflow: hidden;
      .marqueeLeftInner {
        display: flex;
        position: relative;
        overflow: hidden;
        .marquee {
          font-family: Playfair Display;
          font-weight: 800;
          font-style: italic;
          font-size: 265px;
          margin: 0;
          -webkit-text-stroke: 1px white;
          -webkit-text-fill-color: transparent;
        }
      }
      .marqueeRightInner {
        display: flex;
        position: relative;
        overflow: hidden;
        .marquee {
          font-family: Playfair Display;
          font-weight: 800;
          font-style: italic;
          font-size: 350px;
          margin-top: -60px;
          -webkit-text-stroke: 1px white;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
